/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2efef;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: right;
}

.menu {
  width: 80%;
  margin: 0 auto;
}

#about {
  width: 120;
  height: 120;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  width: 80%;
  /* margin: 20px auto; */
}

section {
  margin-bottom: 40px;
}

h1 {
  font-size: 24px;
}

aside {
  width: 20%;
  /* float: right; */
}

.related {
  list-style-type: none;
  padding: 0;
}

.related li {
  margin-bottom: 20px;
}

.related img {
  margin-right: 10px;
  vertical-align: middle;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
  main {
    width: 90%;
  }

  aside {
    width: 100%;
    float: none;
  }
}
